.contenteditable-container {
	display: block;
	max-width: 100%;
}

.contenteditable-editor {
	display: block;
	width: 100%;
	border: 1px dashed #aaa;
	min-height: 100px;
	margin-bottom: 10px;
	outline: none;
	padding: 5px;
	cursor: text;
	font-weight: 400;
	word-break: break-word;
}

.contenteditable-editor:focus {
	border-color: #333;
}

.contenteditable-editor:empty:before {
	color: #757575;
	content: attr(placeholder);
	display: block;
	font-size: 14px;
	font-weight: 400;
}

.contenteditable-editor img {
	max-width: 100%;
}

.contenteditable-actions {
	margin-bottom: 10px;
	margin-top: 5px;
}

.contenteditable-actions span {
	display: inline-block;
	background-color: lightgray;
	margin: 0 3px 3px 0;
	font-size: 13px;
	cursor: pointer;
	width: 28px;
	text-align: center;
}

.contenteditable-actions span svg {
	height: 25px;
	vertical-align: top;
	padding: 5px;
}

.contenteditable-source {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 1px dashed #aaa;
	min-height: 100px;
	margin-bottom: 10px;
	outline: none;
}

.contenteditable-source:focus {
	border-color: #333;
}