/* Header Block */
section.homepage-header {
	background: linear-gradient(135deg,#FF9200 0, #FF4477 100%);
	padding-bottom: 220px;
}

section.homepage-header .main-wrapper {
	z-index: 1;
}

section.homepage-header .information-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
	position: relative;
}

section.homepage-header .information-container .left-content {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

section.homepage-header .information-container .left-content h1 {
	margin-top: 0;
}

section.homepage-header .information-container .left-content p {
	max-width: 400px;
}

section.homepage-header .information-container .right-content {
	width: 50%;
}

section.homepage-header .connection-pattern {
	top: 50px;
	width: 1400px;
}

section.homepage-header .bottom-pattern {
	bottom: -2px;
	min-width: 2000px;
	width: 100%;
}

/* Skills BLock */
section.homepage-skills {
	padding: 70px 0;
}

section.homepage-skills h1 {
	color: #425166;
	text-align: center;
	margin: 0 0 50px 0;
}

section.homepage-skills .skills-container {
	display: flex;
}

section.homepage-skills .left-content {
	width: 50%;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section.homepage-skills .left-content img {
	max-width: 400px;
	width: 80%;
}

section.homepage-skills .right-content {
	width: 50%;
}

section.homepage-skills .skill-item {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(95, 110, 130, .3);
	cursor: pointer;
	margin-bottom: 20px;
}

section.homepage-skills .skill-item:last-child {
	margin-bottom: 0;
}

section.homepage-skills .skill-item .header {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #6C737C;
	padding: 15px 20px;
}

section.homepage-skills .skill-item .header svg {
	height: 20px;
	float: left;
	margin-right: 20px;
	color: var(--primary);
}

section.homepage-skills .skill-item .description {
	padding: 20px 20px 20px 55px;
}

section.homepage-skills .skill-item .description p {
	color: #425166;
	opacity: .7;
}

section.homepage-skills .skill-item.active .header {
	background-image: linear-gradient(135deg,#FF9200 0, #FF4477 100%);
	color: #fff;
}

section.homepage-skills .skill-item.active .header svg {
	color: #fff;
}

section.homepage-skills .right-pattern {
	top: calc(50% - 100px);
	height: 200px;
	position: absolute;
	right: -200px;
}

/* Features Block */
section.homepage-advantages {
	background-color: #F0F0F0;
	padding: 180px 0 170px 0;
}

section.homepage-advantages .top-pattern {
	top: -2px;
	min-width: 2000px;
	width: 100%;
}

section.homepage-advantages .main-wrapper {
	display: flex;
}

section.homepage-advantages .left-content {
	width: 40%;
	padding-right: 80px;
}

section.homepage-advantages .left-content h1 {
	color: #425166;
	margin: 50px 0 30px 0;
}

section.homepage-advantages .left-content p {
	margin-bottom: 15px;
	color: #425166;
	font-size: 17px;
}

section.homepage-advantages .left-content .button {
	margin-top: 40px;
}

section.homepage-advantages .right-content {
	width: 60%;
	display: flex;
}

section.homepage-advantages .right-content .column {
	width: 50%;
	margin: 0 15px;
}

section.homepage-advantages .right-content .column:last-child {
	margin-top: 50px;
}

section.homepage-advantages .advantage-item {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(95, 110, 130, .3);
	cursor: default;
	margin: 0 15px 20px 15px;
	padding: 30px 20px;
	transition: transform .2s ease-in-out;
	width: 100%;
	height: 340px;
}

section.homepage-advantages .advantage-item.highlight {
	background: linear-gradient(135deg,#FF9200 0, #FF4477 100%);
	color: #fff;
}

section.homepage-advantages .advantage-item.highlight h5,
section.homepage-advantages .advantage-item.highlight p {
	color: #fff;
	opacity: 1;
}

section.homepage-advantages .advantage-item:hover {
	transform: translateY(-5px);
}

section.homepage-advantages .advantage-item img {
	height: 80px;
}

section.homepage-advantages .advantage-item h5 {
	color: #425166;
	margin: 15px 0;
	font-weight: 400;
}

section.homepage-advantages .advantage-item p {
	color: #333333;
	opacity: .7;
}

section.homepage-advantages .left-pattern {
	top: calc(50% - 150px);
	height: 300px;
	position: absolute;
	left: -300px;
}

section.homepage-advantages .bottom-pattern {
	bottom: -2px;
	min-width: 2000px;
	width: 100%;
}

/* Features Block */
section.homepage-expertise {
	padding: 50px 0 70px 0;
}

section.homepage-expertise .instructor {
	position: relative;
	z-index: 1;
}

section.homepage-expertise .instructor h1 {
	text-align: center;
	color: #425166;
	margin: 0;
	padding: 20px 0;
}

section.homepage-expertise .instructor .subtitle {
	max-width: 600px;
	font-size: 17px;
	margin: 0 auto 60px auto;
	text-align: center;
	color: #425166;
}

section.homepage-expertise .instructor-container {
	display: flex;
	margin: 0 auto;
	max-width: 900px;
}

section.homepage-expertise .instructor-container .left-content {
	background-color: var(--primary-dark);
	box-shadow: 0 15px 40px rgba(0,0,0,.3);
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	width: calc(50% - 80px);
	margin: 0 40px;
	padding: 30px;
}

section.homepage-expertise .instructor-container .left-content .image {
	background-color: #4A4A4A;
	height: 300px;
}

section.homepage-expertise .instructor-container .left-content .image img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

section.homepage-expertise .instructor-container .stats-item {
	align-items: center;
	margin-top: 30px;
	display: flex;
}

section.homepage-expertise .instructor-container .stats-item svg {
	height: 30px;
	margin-right: 20px;
}

section.homepage-expertise .instructor-container .right-content {
	display: inline-block;
	padding: 0 30px;
	width: 50%;
}

section.homepage-expertise .instructor-container .right-content p {
	color: #425166;
	margin-bottom: 15px;
}

section.homepage-expertise .instructor-container .right-content h1 {
	font-weight: 400;
	text-align: left;
}

section.homepage-expertise .instructor-container .right-content .links {
	margin: 15px 0 40px 0;
}

section.homepage-expertise .instructor-container .right-content .links svg {
	color: var(--primary-dark);
	height: 28px;
	margin-right: 15px;
}

section.homepage-expertise .instructor-container .right-content .button {
	margin-right: 20px;
}

section.homepage-expertise .instructor-container .right-content a {
	color: #B2BCC3;
}

section.homepage-expertise .instructor .right-pattern {
	top: calc(50% - 150px);
	height: 300px;
	position: absolute;
	right: -200px;
}

section.homepage-expertise .insurance {
	text-align: center;
	padding-top: 150px;
	position: relative;
}

section.homepage-expertise .insurance img.image {
	height: 230px;
}

section.homepage-expertise .insurance h1,
section.homepage-expertise .insurance h2 {
	color: #425166;
	margin: 5px 0;
}

section.homepage-expertise .insurance h2 {
	margin: 0;
	font-weight: 300;
	font-size: 26px;
}

section.homepage-expertise .bottom-pattern {
	bottom: -2px;
	width: 1400px;
	left: calc(50% - 250px);
	top: -460px;
}

/* Courses Block */
section.homepage-courses {
	background-image: linear-gradient(135deg,#FF9200 0, #FF4477 100%);
	padding: 130px 0;
}

section.homepage-courses .top-pattern {
	top: -2px;
	min-width: 2000px;
	width: 100%;
}

section.homepage-courses .connection-pattern {
	top: 50px;
	width: 1400px;
}

section.homepage-courses .main-wrapper {
	z-index: 1;
}

section.homepage-courses .features-container {
	display: flex;
	justify-content: center;
}

section.homepage-courses .features-container .feature-item {
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	text-align: center;
	max-width: 270px;
	margin: 0 20px;
	box-shadow: 0 1px 5px rgba(95, 110, 130, .3);
	cursor: default;
	transition: .2s transform ease-in-out, .2s background-color ease-in-out;
}

section.homepage-courses .features-container .feature-item img {
	height: 120px;
}

section.homepage-courses .features-container .feature-item h5 {
	margin: 5px 0 20px 0;
	color: var(--primary-dark);
}

section.homepage-courses .features-container .feature-item:hover {
	transform: translateY(-5px);
	background-color: var(--primary-dark);
	color: #fff;
}

section.homepage-courses .features-container .feature-item:hover h5 {
	color: #fff;
}


section.homepage-courses .courses-container {
	padding-top: 70px;
}

section.homepage-courses .courses-container > h1 {
	text-align: center;
	color: #fff;
}

section.homepage-courses .courses-container > p.subtitle {
	max-width: 400px;
	font-size: 17px;
	margin: 0 auto 60px auto;
	text-align: center;
	color: #fff;
}

section.homepage-courses .course-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 60px;
	flex-direction: row-reverse;
}

section.homepage-courses .course-item .video-content {
	background-color: #F0F0F0;
	border-radius: 10px;
	box-shadow: 0 20px 60px rgba(0,0,0,.3);
	color: #fff;
	height: 440px;
	margin-top: 30px;
	padding: 40px 50px;
	text-align: center;
	width: 46%;
}

section.homepage-courses .course-item .video-content .price-label {
	background-color: var(--primary-dark);
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	float: right;
	margin: -40px 0 30px 0;
	padding: 20px 15px 20px 15px;
}

section.homepage-courses .course-item .video-content .price-label h2 {
	margin: 0;
}

section.homepage-courses .course-item .video-content h2 {
	margin: 0 0 15px 0;
	text-align: right;
	font-size: 30px;
}

section.homepage-courses .course-item .video-content .button {
	display: inline-block;
	margin-top: 40px;
}

section.homepage-courses .course-item .description-content {
	filter: drop-shadow(1px 10px 40px rgba(0,0,0,.2));
	width: 54%;
}

section.homepage-courses .course-item .description-content .shape {
	background-color: #fff;
	border-radius: 10px;
	clip-path: polygon(0% 0%, 100% 0, 96% 100%, 0% 100%);
	height: 500px;
	margin-right: -30px;
	padding: 60px;
}

section.homepage-courses .course-item .description-content h1 {
	color: var(--primary-dark);
	font-weight: normal;
	margin: 0 0 20px 0;
}

section.homepage-courses .course-item .description-content .bullets-container {
	margin-top: 20px;
}

section.homepage-courses .course-item .description-content .bullet-item {
	display: inline-block;
	line-height: 22px;
	margin: 20px 0 5px 0;
	vertical-align: top;
	width: 50%;
}

section.homepage-courses .course-item .description-content .bullet-item svg {
	height: 22px;
	color: var(--primary);
	margin-right: 8px;
	vertical-align: top;
}

section.homepage-courses .course-item .description-content .bullet-item span svg {
	color: #B2BCC3;
	margin: 0 0 0 5px;
	height: 20px;
}

section.homepage-courses .actions {
	text-align: center;
}

section.homepage-courses .bottom-pattern {
	bottom: -2px;
	min-width: 2000px;
	width: 100%;
}

/* Testimonials Block */
section.homepage-testimonials {
	background-color: #F0F0F0;
	padding: 70px 0 20px 0;
}

section.homepage-testimonials h1 {
	color: #425166;
	text-align: center;
	margin: 0;
	padding: 30px 0;
}

section.homepage-testimonials .testimonials-container {
	margin-top: 80px;
}

section.homepage-testimonials .testimonial-item {
	width: calc(100% - (60px / 3));
	height: 330px;
	margin: 0 10px;
	position: relative;
	padding-right: 50px;
}

section.homepage-testimonials .testimonial-item:last-child {
	margin-right: 0;
}

section.homepage-testimonials .testimonial-item .quote {
	left: 0;
	position: absolute;
}

section.homepage-testimonials .testimonial-item .quote svg {
	color: #FF732F;
	width: 30px;
}

section.homepage-testimonials .testimonial-item .description {
	padding-left: 45px;
}

section.homepage-testimonials .testimonial-item .author {
	margin-top: 20px;
}

section.homepage-testimonials .right-pattern {
	top: calc(50% - 200px);
	height: 300px;
	position: absolute;
	right: -200px;
}

/* Certified Banner Block */
section.homepage-certified-banner {
	background-image: linear-gradient(135deg,#FF9200 0, #FF4477 100%);
	padding: 150px 0 100px 0;
	overflow: hidden;
}

section.homepage-certified-banner .top-pattern {
	top: -2px;
	min-width: 2000px;
	width: 100%;
}

section.homepage-certified-banner .connection-pattern {
	top: 50px;
	width: 1400px;
}

section.homepage-certified-banner .main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

section.homepage-certified-banner .main-wrapper h1 {
	display: inline-block;
	margin: 0;
	max-width: 600px;
	text-align: left;
	color: #fff;
}