.modal-card.auth-modal {
	max-width: 500px;
}

.auth-modal a {
	color: var(--primary);
	text-decoration: none;
}

.auth-modal a:hover {
	text-decoration: underline;
}

.auth-modal p {
	text-align: center;
}

.auth-modal p.action {
	margin: 15px 0 0 0;
}

.auth-modal p.error-message {
	margin: 15px 0 5px 0;
}

.auth-modal button {
	width: 100%;
	margin-top: 10px;
}

.auth-modal .header {
	justify-content: center;
}

/* Login Form */
.form-container.login .forgot-action {
	margin-top: 10px;
}

/* Authentication Page Layout */
.authentication-view-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.authentication-view-wrapper img {
	height: 30px;
	margin-bottom: 60px;
}

.authentication-view-wrapper form {
	max-width: 400px;
	width: 100%;
}

.authentication-view-wrapper .header {
	justify-content: center;
}

.authentication-view-wrapper label {
	display: block;
	margin-bottom: 10px;
}

.authentication-view-wrapper input {
	width: 100%;
}

.authentication-view-wrapper button {
	margin-top: 10px;
	width: 100%;
}

.authentication-view-wrapper a {
	color: var(--primary);
	text-decoration: none;
}

.authentication-view-wrapper a:hover {
	text-decoration: underline;
}

.authentication-view-wrapper p {
	margin-top: 15px;
	text-align: center;
}

.authentication-view-wrapper p.error-message {
	margin-bottom: 5px;
}