.table {
	border: 1px solid #d4dbe0;
	border-radius: 4px;
}

.table-item {
	border-top: 1px solid #e6eaf3;
	line-height: 45px;
	padding: 0 15px;
	font-size: 14px;
	color: rgb(17,17,17);
	background-color: #fff;
	display: flex;
	align-items: center;
	height: 84px;
}

.table-item:first-child {
	border-top: none;
}

.table-item div.user-col {
	width: 40%;
	padding-right: 30px;
}

.table-item div.user-col p {
	margin: 0;
}

.table-item div.action-col {
	text-align: center;
	width: 10%;
}

.table-item div.action-col svg {
	height: 32px;
	cursor: pointer;
	padding: 5px;
	vertical-align: middle;
}

.table-item div.date-col {
	width: 20%;
}

.table-item div.state-col {
	width: 30%;
	text-align: center;
}