.table-item div.user-col {
	width: calc(70% - 210px);
	padding-right: 30px;
}

.table-item div.user-access-col {
	width: 30%;
	text-align: right;
	padding-right: 30px;
}

/* User Modal */
.modal-card.user-modal {
	max-width: 500px;
}

.user-modal label .actions {
	align-items: center;
	bottom: 0;
	display: flex;
	height: 41px;
	position: absolute;
	right: 15px;
}

.user-modal label .actions span {
	color: #333;
	height: 15px;
	margin-left: 12px;
	transition: .2s transform ease-in-out;
}

.user-modal label .actions span:hover {
	color: var(--primary);
	transform:scale(1.1);
}

.user-modal label .actions svg {
	cursor: pointer;
	height: 15px;
}

.user-modal .user-progression-item {
	border-top: 1px solid #e6eaf3;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

.user-modal .user-progression-item p {
	margin: 5px 0;
}

.user-modal .user-progression-item svg {
	cursor: pointer;
	height: 28px;
	padding: 5px;
	vertical-align: middle;
}

.user-modal .form-container > .actions {
	margin-top: 0;
}