.table-item div.user-col {
	width: calc(70% - 210px);
	padding-right: 30px;
}

.table-item div.user-col p {
	margin: 0;
}

.table-item div.access-col {
	width: 30%;
	text-align: right;
	padding-right: 30px;
}