.content-container {
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
	padding: 80px 130px;
}

.content-container .main-wrapper > h1 {
	color: var(--primary-dark);
	font-size: 45px;
	font-weight: 500;
	margin: 0;
}

.content-container .blog-information img {
	margin: 20px 0;
	width: 100%;
}

.content-container .blog-information {
	display: block;
	margin-top: 10px;
}

.content-container .html-content,
.content-container .html-content p {
	color: var(--primary-dark);
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.8;
}

.content-container .html-content p {
	margin: 15px 0;
}

.content-container .html-content img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.content-container .html-content h1,
.content-container .html-content h2,
.content-container .html-content h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1;
	margin: 0;
}

.content-container .html-content h1,
.content-container .html-content h2 {
	margin: 20px 0 10px 0;
}

.content-container .html-content h3 {
	margin: 20px 0 10px 0;
	font-size: 25px;
}

.content-container .html-content a:not(.button) {
	color: var(--primary);
}

.content-view .content-container .html-content a:not(.button):hover {
	text-decoration: underline;
}

.content-container .html-content strong,
.content-container .html-content b {
	font-weight: bold;
}

.content-container .html-content ul,
.content-container .html-content ol {
	padding-left: 20px;
}

.content-container .html-content li {
	margin-bottom: 5px;
}

.content-container .html-content blockquote {
	border-left: 3px solid var(--primary);
	margin-left: 20px;
	padding-left: 15px;
}

.content-container .html-content hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: 20px 0;
}

.content-container .html-content .no-margin-bottom {
	margin-bottom: -15px;
}

/* Mobile View */
@media (max-width: 767px) {
	.content-container {
		padding: 30px;
	}

	.content-container > h1 {
		margin-top: 0;
	}
}